In [1]:
import pandas as pd

In [14]:
# 1) Import pandas and read the CSV file into a dataframe
banks = pd.read_csv("/content/sample_data/banklist.csv")

In [15]:
# 2) Show the head of the dataframe
print(banks.head())

                                           Bank Name                City  ST  \
0                                Fayette County Bank          Saint Elmo  IL
1  Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee  WI
2                                     First NBC Bank         New Orleans  LA
3                                      Proficio Bank  Cottonwood Heights  UT
4                      Seaway Bank and Trust Company             Chicago  IL

    CERT                Acquiring Institution Closing Date Updated Date
0   1802            United Fidelity Bank, fsb    26-May-17    26-Jul-17
1  30003  First-Citizens Bank & Trust Company     5-May-17    26-Jul-17
2  58302                         Whitney Bank    28-Apr-17    26-Jul-17
3  35495                    Cache Valley Bank     3-Mar-17    18-May-17
4  19328                  State Bank of Texas    27-Jan-17    18-May-17

In [16]:
# 3) What are the column names?
print(banks.columns)

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

In [17]:
# 4) How many States (ST) are represented in this data set?
num_states = banks["ST"].nunique()
print(f"Number of unique states: {num_states}")

Number of unique states: 44

In [19]:
# 5) Get a list or array of all the states in the data set
states_list = banks["ST"].unique()
print(f"List of all states: {states_list}")

List of all states: ['IL' 'WI' 'LA' 'UT' 'NJ' 'AR' 'GA' 'PA' 'TN' 'WA' 'CO' 'PR' 'FL' 'MN'
 'CA' 'MD' 'OK' 'OH' 'SC' 'VA' 'ID' 'TX' 'CT' 'AZ' 'NV' 'NC' 'KY' 'MO'
 'KS' 'AL' 'MI' 'IN' 'IA' 'NE' 'MS' 'NM' 'OR' 'NY' 'MA' 'SD' 'WY' 'WV'
 'NH' 'HI']

In [20]:
# 6) What are the top 5 states with the most failed banks?
top_states = banks["ST"].value_counts().head(5)
print("Top 5 states with the most failed banks:\n", top_states)

Top 5 states with the most failed banks:
 ST
GA    93
FL    75
IL    68
CA    41
MN    23
Name: count, dtype: int64

In [21]:
#7) What are the top 5 acquiring institutions?
top_acquirers = banks["Acquiring Institution"].value_counts().head(5)
print("Top 5 acquiring institutions:\n", top_acquirers)

Top 5 acquiring institutions:
 Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

In [22]:
# 8) How many banks has the State Bank of Texas acquired? How many were actually in Texas?
state_bank_acquired = banks[banks["Acquiring Institution"] == "State Bank of Texas"]
num_acquired = len(state_bank_acquired)
num_in_texas = len(state_bank_acquired[state_bank_acquired["ST"] == "TX"])
print(f"State Bank of Texas acquired {num_acquired} banks, of which {num_in_texas} were in Texas.")

State Bank of Texas acquired 3 banks, of which 1 were in Texas.

In [23]:
# 9) What is the most common city in California for a bank to fail in?
california_banks = banks[banks["ST"] == "CA"]
most_common_city = california_banks["City"].value_counts().idxmax()
print(f"The most common city in California for a bank to fail in is: {most_common_city}")

The most common city in California for a bank to fail in is: Los Angeles